.investment{
    // margin:5rem;
    margin-top:9rem;
}

.investment_container{
    display: flex;
    flex-direction: column;
}

.investment_header{
    text-align: center;
}

.investmentPlans{
    // display:flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:1rem;
}

.investmentPlan{
    border:1px solid var(--primary-color);
    height: 29rem;
    display: flex;
    flex-direction: column;
}

.investmentPlan p{
    background: var(--primary-color);
    font-size: 1.4rem;
    // color:white;
    padding:1.3rem;
    // padding-left:5.5rem;
    // margin-top:0rem;  
    text-align: center;
}

.investment_text{
    display: flex;
    flex-direction: column;
    padding:2rem 30px;
    padding-top:0rem;
    // margin-left:1.2rem;

}

.investment_text span{
    padding-top:2.6rem;
}


.investmentPlan:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 2px var(--primary-color);
    transition:0.3s;    
    // color: white;
}