
.resource_categories{
    flex-direction: row;
    margin-top: 5rem;
    // display: flex;
    // justify-content: space-between;
    // gap:1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.resource_category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 20px;
    cursor: pointer;
    border: 1px solid color-mix(in srgb, var(--background-color) 50%, transparent 20%);

    &:hover{
        box-shadow: 0 0 30px var(--primary-color);
    }


    button{
        padding: 10px;
        border: none;
        // border: 1px solid var(--background-color);
        color:black;
        font-weight: bolder;
        cursor: pointer;
    }
}

.details{
    padding-top:1rem;
}