.section{
    padding: 2rem;
    // background: linear-gradient(var(--primary-color), yellow);
    background-size: 40px 40px;
    background-image: radial-gradient(circle, var(--primary-color) 1px, rgba(0, 0, 0, 0) 1px); 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    svg{
        width: 200px;
    }

    p{
        font-size: 2rem;
    }

    button{
        width: 200px;
        padding: 10px 30px;
        background-color: red;
        border-radius: 10px;
        border: none;
        font-size: larger;
        color: white;
        text-align: center;
        cursor: pointer;
    }
}