.conact-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;


    .card{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: space-evenly;


        min-height: 310px;

        text-align: center;
        background: color-mix(in srgb, var(--background-color) 80%, var(--color) 20%);
        // box-shadow: 0 0 30px #ccc;

        padding: 1rem;
        cursor: pointer;


        a{
            text-decoration: none;
           
            width: 100%;
            padding: 10px;
            background: var(--secondary-color);
            border: 1px solid var(--primary-color);


            text-align: center;

            &:hover{
                 background: var(--primary-color);
            }
        }
    }
}